body {
    margin: 10px 10px;
}

.border {
    outline: 2px solid black;
}

section,
footer {
    min-height: 30px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.ball {
    background-color: #480063;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
}

.navlink1, .navlink2, .navlink3 {
    background-color: #b2008a;
    border-radius: 20px;
}

.section1, .section2, .section3, .section4 {
    background-color: #fd96a9;
}

.lastsections1, .lastsections2, .lastsections3 {
    background-color: #b2008a;
}

footer {
    background-color: #c1c99a;
}

.header1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 3;
    display: flex;
}

@media (width < 600px) {
    .container {
        .ball {
            margin: auto auto;
        }

        .navlink1, .navlink2, .navlink3,
        .section1, .section2, .section3, .section4, footer {
            grid-column: span 3;
        }
    }
}

@media (width >= 600px) {
    .container {
        .section1,
        .section2 {
            grid-row-start: 3;
            grid-row-end: 6;
        }

        .section3, .section4 {
            grid-row-start: 6;
            grid-row-end: 9;
        }

        .lastsections1 {
            grid-row-start: 2;
        }

        .lastsections2 {
            grid-row-start: 4;
        }

        .lastsections3 {
            grid-row-start: 6;
        }

        .lastsections1, .lastsections2, .lastsections3 {
            grid-row-start: span 2;
        }

        footer {
            grid-column-start: 1;
            grid-column-end: span 3;
        }
    }
}